{% extends "layout.html" %}

{% block title %}
    Chat
{% endblock %}

{% block main %}
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
        }

        .chat {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin-bottom: 20px;
        }

        .chat__messages {
            max-height: 400px;
            overflow-y: auto;
        }

        .chat__message {
            margin-bottom: 10px;
        }

        .chat__message__content {
            background-color: #5BC236;
            border-radius: 10px;
            padding: 10px;
            display: inline-block;
            max-width: 70%;
        }

        .chat__form {
            display: flex;
            margin-top: 20px;
        }

        .chat__form__input {
            flex-grow: 1;
            padding: 10px;
            border-radius: 5px;
            border: none;
            margin-right: 10px;
            background-color: lightgray;
        }

        .chat__form__button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Shady Stock Market Guy</h1>
                <br>
                <img style="width:200px; height:250px;" src="https://t4.ftcdn.net/jpg/00/48/65/67/360_F_48656795_JC5dIZcCX7mpTD1dYzc6dbmEBYqs5lQF.jpg">
                <br>
                <br>
                <div class="chat">
                    <div class="chat__messages">
                            <div class="chat__message">
                                <div class="chat__message__content">{{ response }}</div>
                            </div>
                    </div>
                    <br>
                    
                    <form action="/assistant2" method="post" class="chat__form">
                        <input id="prompt" type="text" name="prompt" class="chat__form__input" placeholder="Message">
                        <button type="submit" class="chat__form__button">Send</button>
                    </form>
                </div>
                <br>
                <br>
                <a class="btn btn-danger" href="/assistant">Switch</a>
            </div>
        </div>
    </div>
{% endblock %}
