{% extends "layoutD.html" %}

{% block title %}
    Closed
{% endblock %}

{% block main %}
    <style>
        .body {
            background-image: linear-gradient(to bottom right, gray, black);
            color: #f2f2f2;
            overflow: hidden;
        }
        .head {
            background-image: linear-gradient(to bottom right, gray, black);
            color: #f2f2f2;
        }
        .flex-container {
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <div class="flex-container">
        <div>
            <h1>Market is Down </h1>
        </div>
        
        <br>

        <div>
            <img style="border-radius: 10px; width: 40%; height:40%;"src="https://cdn-icons-png.flaticon.com/512/3321/3321036.png">
        </div>

        <br>
        <br>

        <div>
            <form method="POST" action="{{ url_for('bypass') }}">
                <input type="hidden" name="route" value="{{ route }}"> <!-- or "sell" -->
                <button class="btn btn-danger" type="submit">Proceed Anyway</button>
            </form>
        </div>
        
        
    </div>

{% endblock %}